{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 404 {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="kt-signin-wrapper">
      <div class="kt-card-signin">
        <div class="kt-signin-body">
          <h1 class="kt-logo">Katana</h1>
          <br />
          <h2>Error 404</h2>
          <h4>Page not found</h4>
          <br />
          <p>
            Please contact support or access <a href="/">HOME</a>.
          </p>
        </div><!-- kt-signin-header -->
      </div><!-- kt-card-signin -->
    </div><!-- kt-signin-wrapper -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
