<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Katana Dashboard - Cluser Manager">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ ASSETS_ROOT }}/favicon.png">

    <title>
        Katana Dashboard - {% block title %}{% endblock %} | Katana
    </title>

    <!-- vendor css -->
    <link href="{{ ASSETS_ROOT }}/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="{{ ASSETS_ROOT }}/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- Page CSS Plugins goes HERE  -->
    {% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

    <!-- Katana CSS -->
    <link rel="stylesheet" href="{{ ASSETS_ROOT }}/css/Katana.css">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/navigation.html' %}

    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    {% include 'includes/scripts.html' %}

    <!-- Page JS Plugins goes HERE  -->
    {% block plugin_javascripts %}{% endblock plugin_javascripts %}

    <script src="{{ ASSETS_ROOT }}/js/Katana.js"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
